# Checkpoints will not be pushed.
.ipynb_checkpoints
# python cache files
*.pyc
# local testing data input and output
/data/compound_terms
/data/journal_metadata
/data/oasis_descr_examples
/data/report_metadata
/data/test_examples
/data/text extraction - pdftotext
!data/athena/output/*