# Checkpoints will not be pushed.
.ipynb_checkpoints
# python cache files
*.pyc
# local testing data input and output
/data/ads/*
/data/oasis/*
/data/gotriple/*
!data/gotriple/ner-output*
!data/gotriple/ie-output*
!data/athena/*

# output from running planemo on the Galaxy tool wrappers
**/tool_test_output.*
