# Checkpoints will not be pushed.
.ipynb_checkpoints
# python cache files
*.pyc
# local testing data input and output
/data/fish/*
/data/oasis/*
/data/gotriple/*
!data/gotriple/ner-output*
!data/athena/*