# pip install -r requirements.txt

# Base ----------------------------------------
pandas>=1.1.4
numpy>=1.18.5
opencv-python>=4.1.2
matplotlib>=3.2.2
ipyleaflet>=0.14.0
sympy>=1.10.1
ipywidgets>=7.7.0
regex

brotli # for JSON Periodo import (returns brotli compressed data)
python-slugify # for constructing valid filenames from record identifiers
spacy>=3.7.2  # for NER

#jmespath>=1.0.1  # for JSON search
jsonpath-ng>=1.5.3 # for JSON search (as used in PeriodoData.py)
lxml>=4.9.1 # for parsing input XML abstracts

